.gradle
/.idea
/out/
/*.iml
/pom.xml
/perfect-big-data-mapreduce/pom.xml
/perfect-big-data-mapreduce/target/*
/production
/perfect-big-data-mapreduce/src/main/resources/*
/perfect-big-data-spark/target/*
/perfect-scala/target/*
